/* CSS */

html, body{
	width: 100%; height: 100%;
	font-family: "HiraMinProN-W6";
}

.navbar-brand img{
	width: 28px; height: auto;
	margin: 0px 5px; padding: 0px;
	border-radius: 14px;
}

#my_key{
	width: 100%; height: 100%;
	padding: 12rem 0px;
	background-color: lightsteelblue;
	background-image: url("../images/gakusei5.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-size: cover;
	color: white;
}

.top {
	margin-left: 5%;
}

.highlight {
	font-size: 1.5em; /* 文字サイズを大きく */
	color: #ff6347; /* 文字色を変更（オレンジ色） */
	font-weight: bold; /* 太字に設定 */
}

.top button {
	margin-top: 10px;
	width: 200px;
}

.top h2 {
	position: absolute;
	bottom: 0;
}

.intro {
	height: 200px;
	text-align: center;
	margin: 50px 0 30px 0;
}

.intro .intro-title {
	margin: 20px 0 20px 0;
}

/* バナー本体 */
.news-banner {
	/* font-size: 30px; */
	display: block;
	height: 30px;
	width: 100%;
	overflow: hidden;
	margin: 20px 0 0 0;
}

/* バナー内コンテンツ */
.news-banner__content {
	display: inline-block;
	line-height: 30px;
	padding-left: 100%;
	white-space: nowrap;
	animation: animate-banner 20s linear infinite;
}

/* バナー内の要素をすべて選択 */
  .news-banner__content > * {
	display: inline-block;
}

/* 横にスクロールさせるアニメーション */
@keyframes animate-banner {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

.problem {
	background-color: #add8e6;
	text-align: center;
	padding: 120px 0 50px 0;
	position: relative;
	margin: auto;
}

.problem hr {
	width: 10%; /* 水平線の幅 */
	height: 10px; /* 水平線の高さ */
	background-color: #fff; /* 水平線の色 */
	border: none; /* デフォルトの境界線を消去 */
	margin: 20px auto; /* 上下の余白と中央揃え */
}

.problem #triangle-down {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 50px solid #fff;
	position: absolute;
	left: 50%;
	top: 0px;
	transform: translate(-50%, 0); /* 要素の中心を基準に移動 */
}

.problem h1 {
	margin-bottom: 20px
}

.solution {
	text-align: center;
	padding: 120px 0 50px 0;
	position: relative;
}

.solution hr {
	width: 10%; /* 水平線の幅 */
	height: 10px; /* 水平線の高さ */
	background-color: #add8e6; /* 水平線の色 */
	border: none; /* デフォルトの境界線を消去 */
	margin: 20px auto; /* 上下の余白と中央揃え */
}

.solution #triangle-down {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 50px solid #add8e6;
	position: absolute;
	left: 50%;
	top: 0px;
	transform: translate(-50%, 0); /* 要素の中心を基準に移動 */
}

.colution h1 {
	margin-bottom: 20px
}

@media screen and (max-width: 414px) {

	.top h1 {
		font-size: 20px;
	}


}
